body, div, form, input, p, ul, li, span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%)
}
input{
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid skyblue;
    outline: none;
    margin-bottom: 10px;
    text-align: center
}

.userform{
    animation: load .3s
}

p{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    animation: load .3s
}

span{
    font-size: 20px;
    color:rgb(74, 74, 235);
    font-weight: bold
}

.js-todoForm{
    animation: load .3s .3s
}
.todolist{
    position: relative;

}

ul{
    width:50%;
    margin: 0 auto;
    padding: 10px 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    /* animation: load .3s .5s */
}

li{ 
    /* position: absolute; */
    list-style: none;
    text-align: left;
    margin-bottom: 5px;
    padding:5px 5px 5px 5%;
    border-bottom: 1px solid skyblue;
    font-size: 13px;
    color: #333
}

li:last-of-type{
    margin-bottom: 0
}

li:after{
    content: '';
    display: block;
    clear: both
}

li > button {
    float: right;
    margin-right: 5%;
    font-size: 10px;
    background: skyblue;
    border: none;
    color: #fff;
    border-radius: 50px;
    cursor: pointer
}

.bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: .3; */
    animation: fadeIn .5s linear forwards
}

@keyframes fadeIn{
    from{
        opacity: 0
    }
    to{
        opacity: .3;
    }
}

.loadani{
    animation: load .3s 
}

@keyframes load{
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}